.expanded-experiment-title {
  color:black;
  font-weight: bold;
  text-align: center;
  font-size: 3vh;
  text-align: center;
/* Gradients/Holo */
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.075vh;
  text-transform: uppercase;
  margin-top: 2%;
}

.expanded-experiment-subtitle {
  color: #4C4C4C;
  text-align: center;
  font-size: 1.5vh;
  text-align: center;
/* Gradients/Holo */
  font-style: italic;
}

.expanded-experiment-container {
    position: absolute;
    background: transparent;
    height: 80%;
    width: 98%;
    border : solid 0.2vh;
    border-color: black;
    border-radius: 2vh;
    display: flex;
    margin-top: 1%;
  }
  
  .expanded-experiment-information-card-column {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .significant-results-column {
    flex: 5;
  }
  .experiment-images-column {
    flex: 5;
  }

  .enabled-experiment-btn {
    color: white;
    text-align: center;
    font-size: 1.5vh;
  /* Gradients/Holo */
    background: black;
    border-radius: 0.5vh;
    border-color: #4C4C4C;
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: -0.075vh;
    text-transform: lowercase;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .disabled-experiment-btn {
    color: white;
    text-align: center;
    font-size: 1.5vh;
  /* Gradients/Holo */
    background: #4C4C4C;
    border-radius: 0.5vh;
    border-color: black;
    font-family: Gilroy;
    font-style: normal;
    line-height: 120%;
    letter-spacing: -0.075vh;
    text-transform: lowercase;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
  }

  .expanded-experiment-information-card {
    background: transparent;
    border : solid 0.2vh;
    border-color: black;
    border-radius: 2vh;
  }

  .filled-info-tag {
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 25vh;
    text-align: center;
    font-style: italic;
    font-size: 0.9vh;
    margin: 1%;
    padding: 2%;
  }
  
  .unfilled-info-tag {
    background-color: transparent;
    color: #4C4C4C;
    font-weight: bold;
    border-radius: 25vh;
    border-color: #4C4C4C;
    border-style: dashed;
    text-align: center;
    font-style: italic;
    font-size: 0.9vh;
    margin: 1%;
    padding: 2%;
    cursor:pointer;
  }

  .tag-hover {
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 0.9vh;
  }

  .useful-link-list {
    color: black;
    text-decoration:none;
    font-size: 1vh;
  }

  .emoji-img {
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .screen-img {
    width:100%;
    display: block;
    margin: auto;
  }